.login-form-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  margin-top: 0px;
  margin-right: 70px;
  justify-content: space-between;
  font-size: 1rem;
  font-family: "Market Sans",Arial,sans-serif;
}

.formHeader {
  /* font-size: 36px; */
  font-weight: 700;
  /* justify-content: flex-end; */
}

.sessionIntroMessage {
  margin-top: 50px;
  font-size: 2.25rem;
  line-height: 46px;
  font-weight: 700;
  font-family: "Market Sans",Arial,sans-serif;
  text-align: center;
}

.welcomeMessage {
  font-size: small;
  font-family: "Market Sans",Arial,sans-serif;
}

.login-form {
  /* background-color: tan; */
  /* align-items: center; */
  /* text-align: center; */
  /* float: left; */
  /* width: 50%; */
  height: 400px;
  font-size: xx-large;
  /* margin-left: 100px;
  margin-right: 100px; */
  /* display: block; */
  position: absolute;
}

.name-textbox {
  margin-top: 40px;
  position: relative;
}

.name-textbox > input {
  width: 46%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.name-textbox > label {
  position: absolute;
  top: -15px;
  left: 0px;
}

.lastname-label.lastname {
  left: 150px;
}

.textbox {
  margin-top: 50px;
  position: relative;
}

.textbox > input {
  width: 97%; 
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.textbox > label {
  position: absolute;
  top: -15px;
  left: 0px;
}

label {
  padding-left: 5px;
  position: absolute;
  line-height: 50px;
  font-size: small;
  font-family: "Market Sans",Arial,sans-serif;
}

input:focus + label {
  position: absolute;
  top: -40px; 
  left: 0px;
  transition: 0.2s;
}

form input:valid + label {
  position: absolute;
  top: -40px; 
  left: 0px;
  transition: 0.2s;
}

.login-form > button {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #3665f3;
  border-color: #3665f3;
  color: #fff;
  margin-top: 100px;
}

button[disabled] {
  opacity:.2;
}

.sessionFormFooter  {
  /* margin-left: 450px; */
  font-size: xx-large;
  padding-top: 750px;
  font-family: "Market Sans",Arial,sans-serif;
  /* display: flex;
  justify-content: flex-end;
  align-items: baseline; */
}

.myLinks {
  /* display: flex;
  align-items: baseline; */
  /* justify-content: flex-end; */
  background-color: tan;
  font-size: small;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.linkedIn-logo {
  height: 5%;
  width: 5%;
  /* position: right; */
  padding-right: 0;
}
.gitHub-logo {
  height: 5%;
  width: 5%;
  /* position: right; */
  padding-right: 0;
}