.homePage {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.topnav {
  /* position: absolute;  */
  background-color: lightblue;
  width: 100%;
  display: flex; 
  justify-content: space-between;

  /* position: fixed; */
}

#gh-icon-cart {
  height: 18px;
  width: 23px;
  
}
.logo {
  /* width: "250";
  height: "100"; */
  padding-left: 0px;
  align-self: left;
}

.searchbar {
  display: inline;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 50px;
  align-items: stretch;
  /* margin-bottom: 50px; */
  /* padding-top: 50px; */
  margin-right: 75px;
  text-align: left;
  background-color: gray;
}

.dropdown {
  align-self: flex-start;
  margin-top: 15px;
  /* margin-left: 25px; */
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.search {
  background-color: greenyellow;
  width: 100%;
}

.search > input {
  align-self: flex-start;
  margin-top: 14px;
  /* margin-left: 25px; */
  width: 96%;
  /* height: 70%; */
  /* border-top: 20px;
  border-bottom: 20px; */
}

.second-dropdown {
  align-self: flex-start;
  margin-top: 15px;
  width: 100%;
  /* height: 70%; */
  /* margin-left: 25px; */
  /* margin-right: 25px; */
}

.searchbar > button {
  background-color: #3665f3;
  border-color: #3665f3;
  color: #fff;
  /* margin-top: 15px; */
  align-items: flex-end;
  width: 100%;
}

.myCarousel {
  background-color: gray;
  width: 100%;
  display: block; 
}

.footer {
  background-color: black;
  width: 100%;
  display: block; 
  bottom: 0; 
  /* position: fixed;  */
}

.toplinks {
  display: flex;
  justify-content: space-between;
}