.homePage {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* position: relative; */
}

.topnav {
  /* position: absolute;  */
  background-color: lightblue;
  width: 100%;
  display: flex; 
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;

  /* position: fixed; */
}

#gh-icon-cart {
  height: 18px;
  width: 23px;
  
}
.logo {
  /* width: "250";
  height: "100"; */
  padding-left: 0px;
  align-self: left;
}

.searchbar {
  display: inline;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 50px;
  align-items: stretch;
  margin-right: 75px;
  text-align: left;
  /* background-color: gray; */
}

.dropdown {
  align-self: flex-start;
  margin-top: 15px;
  /* margin-left: 25px; */
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  /* height: 50px; */
}

.search {
  /* background-color: greenyellow; */
  width: 100%;
}

.fa.fa-search {
  background-color: white;
}

/* .fa.fa-search:hover {
  background-color: greenyellow;
} */

.search > input {
  align-self: flex-start;
  margin-top: 14px;
  /* margin-left: 25px; */
  /* width: 96%; */
  width: 86%;
  /* width: 100%; */
  /* height: 70%; */
  /* border-top: 20px;
  border-bottom: 20px; */
}

.second-dropdown {
  align-self: flex-start;
  margin-top: 15px;
  width: 30%;
  /* height: 70%; */
  /* margin-left: 25px; */
  /* margin-right: 25px; */
}

.searchbar > button {
  background-color: #3665f3;
  border-color: #3665f3;
  color: #fff;
  /* margin-top: 15px; */
  align-items: flex-end;
  width: 40%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.myCarousel {
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: center; 
  margin-left: 10px;
  margin-right: 10px;
}

/* .sideNav {
  width: 75%;
  position: absolute;
  float: left;
  background-color: green;
} */

.mainContent {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  /* position: relative; */
  /* width: 25%; */
  /* float: right; */
  background-color: whitesmoke;
  height: 650px;
}

.rowbox {
  margin-top: 5px;
  border: thin solid black;
  height: 20%;
  width: 20%;
  /* border-right: black 1px; */
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: row; */
}

.rowbox > button {
  /* justify-self: center; */
  /* align-self: baseline; */
}

/* .row1box2 {
  margin-top: 5px;
  border: thin solid black;
  height: 25%;
  width: 25%;
} */

/* .row1box3 {
  margin-top: 5px;
  border: thin solid black;
  height: 25%;
  width: 25%;
}

.row1box4 {
  margin-top: 5px;
  border: thin solid black;
  height: 25%;
  width: 25%;
} */





.homeFooter {
  background-color: black;
  width: 100%;
  display: flex; 
  /* position: absolute; */
  bottom: 0; 
  align-self: flex-end;
  /* position: fixed;  */
}

.toplinks {
  display: flex;
  justify-content: space-between;
  font-family: "Market Sans",Arial,sans-serif;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;  
  
  /* text-decoration: none; */
}

.leftlinks {
  text-decoration: none !important;
}

.fa.fa-shopping-cart {
  font-size: 14px ;
}

/* #gh-Alerts-i {

  --color-background-default: #fff;
  --color-text-default: #111820;
  white-space: nowrap;
  list-style: none;
  font: inherit;
  color: #333 !important;
  cursor: pointer;
  background-image: url(https://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png);
  background-repeat: no-repeat;
  background-size: 250px 200px;
  background-position: -37px -101px !important;
  width: 16px;
  height: 18px;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
} */

.navBar {
  /* justify-content: stretch; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* align-content: space-between; */
  font-family: "Market Sans",Arial,sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  /* align-items: stretch; */
}


/* .item.active {
  display:flex;
  justify-content: stretch;
}

.myCarousel.carousel-inner.item.active > img {
  width: 100%;
  height: 100%;
} */

.myCarousel > img {
  width: 50%; 
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}